<div id="dash-wrap">

	<div class="container">
		<h1>Dashboard</h1>

		<div class="column-3">
			<div id="dash-links">
				<%= link_to 'Analytics' %>
				<%= link_to 'Koinonia' %>
				<%= link_to 'Staff' %>
				<%= link_to 'Alert' %>
			</div>
		</div>

		<section id="dash-content" class="column-9">
		</section>
	</div>
</div>