var content = $('<div class="modal"><h1>Thank You</h1><p>We will be praying for you or your loved one.</p><div class="modal-close">Close</div>');
$('body').css('overflow', 'hidden');
$('body').append(content);
$('body').append('<div id="screen"></div>');

// Clear Form
$("#prayer-form #name").val("");
$("#prayer-form #email").val("");
$("#prayer-form #request").val("");

content.fadeIn();