// Change src of image element
$("#s-bg-image").attr("src", "data:image/jpeg;base64,<%=j @image %>");

// Replace Video
// var player = $("<%=j @player %>");
// var sermon = $("<div id='current-sermon'></div>").hide();
// sermon.append(player);
// $("#current-sermon-wrap").append(sermon);