#dash-wrap {
	width: 100%;
	min-height: 100%;
	padding-top: 100px;
	padding-bottom: 20px;

	background-color: $light-bg;
}


#dash-links {
	width: 100%;
	height: 400px;

	background-color: white;
	border-radius: 5px;
	@include shadow;
}


#dash-content {
	height: 600px;

	background-color: white;
	border-radius: 5px;
	@include shadow;
}