// Debug



// Colors
//----------------------------------------------------------
$blue: #6c858e;
$dark: #424748;
$light: #9a9b9b;
$light-bg: #f3f5f8;
//----------------------------------------------------------



// Type
//----------------------------------------------------------
$default-font: 'Varela', sans-serif;
$thin-font: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: 15px;
}


p {
	line-height: 1.7em;
}


.underline {
	&::after {
		display: block;
		content: " ";
		width: 35px;
		border: 2px solid $blue;
		margin: 30px auto;
	}
}


.fancy-underline {
	font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		
	padding-bottom: 30px;

	background: url('h1-bg.png') no-repeat center bottom;
	background-size: 300px;
}

//----------------------------------------------------------



// Form Elements
//----------------------------------------------------------
#{$all-text-inputs} {

}


#{$all-text-inputs-focus} {

}
//----------------------------------------------------------



// Mixins
//----------------------------------------------------------

//----------------------------------------------------------



// HTML Elements
//----------------------------------------------------------
a {
	text-decoration: none;
}


.container {
	@include outer-container;
	padding: 0px 20px;
}


@for $i from 3 through 12 {
	.column-#{$i} {
		@include media(769px) {
			@include span-columns($i);
		}
	}
}


@for $i from 1 through 6 {
	.shift-#{$i} {
		@include media(769px) {
			@include shift($i);
		}
	}
}

//----------------------------------------------------------
