// Debug



// Colors
//----------------------------------------------------------
$blue: #6c858e;
$dark: #424748;
$light: #9a9b9b;
$light-bg: #f3f5f8;
//----------------------------------------------------------



// Type
//----------------------------------------------------------
$default-font: 'Varela', sans-serif;
$thin-font: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: 15px;
}


p {
	line-height: 1.7em;
}


* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}


.underline {
	&::after {
		display: block;
		content: " ";
		width: 35px;
		border: 2px solid $blue;
		margin: 20px auto;
	}
}


.fancy-underline {
	font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		
	padding-bottom: 30px;

	background: image-url('h1-bg.png') no-repeat center bottom;
	background-size: 300px;
}

//----------------------------------------------------------



// Form Elements
//----------------------------------------------------------
#{$all-text-inputs}, 
textarea {
	padding: 10px 20px;
	//border: 2px solid $blue;
	background-color: $light-bg;
	border: none;
	color: $blue;
	-webkit-appearance: none;

	&[disabled=disabled] {
		opacity: 0.3;
		color: #999;
	}
}


#{$all-text-inputs-focus},
textarea {
	outline: none;
}


textarea {
	resize: none;
}


input[type=submit] {
	-webkit-appearance: none;
}
//----------------------------------------------------------



// Mixins
//----------------------------------------------------------
@mixin shadow {
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

@mixin card {
	background-color: white;
	border-radius: 5px;
	@include shadow;
}

@mixin roundbutton($color) {
	padding: 15px 40px;
	border-radius: 5px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: lighten($color, 5%);
	box-shadow: 0 3px 0 darken($color, 10%);
	color: white;
	font-weight: bold;

	&:hover {
		opacity: 0.7;
	}
}

@mixin squarebutton($color) {
	padding: 10px 30px;

	color: $color;
	text-transform: uppercase;
	border: 1px solid $color;

	&:hover {
		background-color: $color;
		color: $dark;
	}
}

@mixin squarebuttonfilled($color) {
	padding: 10px 30px;

	color: $dark;
	text-transform: uppercase;
	background-color: white;

	&:hover {
		opacity: 0.5;
	}
}
//----------------------------------------------------------



// HTML Elements
//----------------------------------------------------------
a {
	text-decoration: none;
}


.container {
	@include outer-container;
	padding: 0px 20px;
}


@for $i from 1 through 11 {
	.column-#{$i} {
		@include media(769px) {
			@include span-columns($i);
		}
	}
}


@for $i from 1 through 6 {
	.shift-#{$i} {
		@include media(769px) {
			@include shift($i);
		}
	}
}


#screen {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	background-color: black;
	opacity: 0.8;
}


.float-clear {
	clear: both;
	width: 100%;
	height: 0px;
}

//----------------------------------------------------------
