#sermonaudio {
	margin-top: 80px;
	@media(max-width: 769px) {
		margin-top: 60px;
	}
}


#audiosource {
	display: none;
}


#sermon-player {
	background-color: black;
	padding: 80px 0px;

	h3 {
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		//letter-spacing: 10px;
	}

	@media(max-width: 769px) {
		padding: 40px 0px;
		h3 {
			font-size: 14px;
		}
	}


	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
	background-size: cover;

	-webkit-transition: background-image 1.0s ease-in-out;
	-moz-transition: background-image 1.0s ease-in-out;
	-ms-transition: background-image 1.0s ease-in-out;
	-o-transition: background-image 1.0s ease-in-out;
	transition: background-image 1.0s ease-in-out;
}


#control-button {
	width: 50px;
	height: 50px;

	display: block;
	border-radius: 50%;
	background: none;
	border: 2px solid white;
	color: white;

	.fa-play {
		margin-left: 1.5px;
	}

	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}

	@media(max-width: 769px) {
		margin: auto;
	}
}


#scrub {
	padding-top: 22.5px;
}


#progress-bg {
	width: 100%;
	height: 10px;

	border: 1px solid white;
	border-radius: 5px;
}


#current-marker {
	height: 16px;
	width: 16px;
	margin-top: -13px;
	margin-left: -8px;

	background-color: white;
	border-radius: 8px;
	cursor: pointer;
}


#sermon-time {
	padding-top: 14px;

	color: white;
	text-align: right;
	font-size: 13px;

	@media(max-width: 769px) {
		text-align: center;
	}
}


#previous-audio {
	@include outer-container;
	padding: 10px 20px;
	background-color: white;
	text-align: center;
	font-family: $thin-font;
	font-weight: 100;
	color: #444;

	@media (max-width: 769px) {
		font-size: 12px;
	}

	i {
		color: $blue;
	}
}


#audio-list {
	padding-top: 20px;
	background-color: $light-bg;
}


.audio-listing {
	margin-bottom: 20px;
	cursor: pointer;

	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);

	@media (min-width: 769px) {
		@include span-columns(4);
		@include omega(3n);
		height: 190px;
		text-align: center; 
	}

	@media (max-width: 769px) {
		height: 160px;
		padding: 10px;
		//margin: 5px 10px;
		box-shadow: 0 0 2px rgba(0,0,0,0.1);
		text-align: center;
		@include span-columns(6);
		@include omega(2n);
	}

	&:hover {
		background-color: #444;
		.top-color {
			background-color: #444;
		}
	}


	.top-color {
		height: 60px;
		background-color: white;
		border-radius: 5px 5px 0 0;
		overflow: hidden;

		@media (max-width: 769px) {
			display: none;
		}

		img {
			width: 100%;
			margin-top: -50px;
			position: relative;
			z-index: 100;
			opacity: 0.3;
			display: none;
		}
	}


	.sermon-thumb {
		@include shadow;

		@media (max-width: 769px) {
			width: 50px;
			height: 50px;
			margin: auto;
			margin-top: 10px;
			border-radius: 25px;

			img {
				margin-left: -25px;
				margin-top: -12.5px;
				height: 75px;
			}
		}

		@media (min-width: 769px) {
			width: 80px;
			height: 80px;
			border-radius: 40px;
			margin: auto;
			margin-top: -40px;
			border: 2px solid $light-bg;

			img {
				margin-left: -26.5px;
				margin-top: -10px;
				height: 100px;
				position: relative;
				z-index: 200;
			}
		}

		overflow: hidden;
	}

	.sermon-title {
		margin-top: 18px;
		//float: left;
		font-size: 12px;
		padding: 0px 20px;
		text-align: center;

		h4 {
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			font-size: 12px;
			color: #999;
		}

		@media (max-width: 769px) {
			//width: 280px;
			text-align: center;
			padding: 0;
			margin-top: 20px;
			//float: left;
			font-size: 12px;
		}
	}
}


// Slider
.ui-widget-content {
	border: 1px solid white;
	background: none;
}

.ui-slider-horizontal {
	height: 5px;

	&:focus {
		outline: none;
	}
}

.ui-state-default {
	border: none;
	background-color: white;
}

.ui-slider-horizontal .ui-slider-handle {
	width: 12px;
	height: 12px;
	top: -4px;
	margin-left: -4px;
	border-radius: 50%;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&.ui-state-active {
		border: 1px solid #ccc;
		background-color: #ccc;
	}
}

.ui-slider-handle {

}