<section id="calendar-heading">
	<div class="container">
		<h2>DNBC Calendar</h2>
		<p>Keep up with everything going on at DNBC.</p>
	</p>
</section>


<section id="calendars">
	<div class="container">
		<div class="column-6" id="current-calendar">
			<h4 class="underline">Current Month</h4>
			<h2>January 2015</h2>
			<%= link_to 'View Calendar', "January2015.pdf", target: "_blank" %><br>
			<%= link_to 'Download Calendar', "/download_jan" %>
		</div>

		<div class="column-6" id="next-calendar">
			<h4 class="underline">Next Month</h4>
			<h2>February 2015</h2>
			<%= link_to 'View Calendar', "February2015.pdf", target: "_blank" %><br>
			<%= link_to 'Download Calendar', "/download_feb" %>
		</div>
	</div>
</section>


<section id="upcoming-events" class="container">
	<h4 class="underline">Upcoming Events</h4>
	<h2>Coming Soon</h2>
</section>